<div class="row">
  <div class="span6">
    #i18N("copyright")
  </div>
  <div class="span2 offset3" style="white-space: nowrap;">
    <strong>Powered by </strong><span class="label">micro $!{site.MicroVersion}</span>
  </div>
</div>

<div class="row">
  <div class="span6">
      Follow us on Twitter: <a href="http://twitter.com/micro_mvc"><strong>@micro_mvc</strong></a>
      ## <h5><span class="label">todo:</span> ...</h5>
  </div>
  <div class="span2 offset3">
    <span class="muted">ENV: $!{site.MicroEnv}</span>    
  </div>
  
</div>
