<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>404 - File not found</title>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" charset="utf-8" media="screen">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="span9 offset1">
        <h1>404</h1>
        <h3>
          Error in path: $!{path}
        </h3>
        <p class="text-muted">
          $!{error}
        </p>
      </div>
    </div>  
  </div>

</body>
</html>