<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>µTodos</title>
    <meta name="author" content="Florin T.PATRASCU">
    <link rel="stylesheet" href="/styles/todos.css" type="text/css" charset="utf-8" media="screen">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" charset="utf-8" media="screen">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  
 <div id="todoapp">

    <header>
      <h1 id="checklist-name">$!{checklistName}</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>
  </div>

  <div id="credits">
    $partials.get("footer.html")
  </div>

  
  <div id="instructions">
    Double-click to edit a todo.
  </div>
  
  <script src="js/json2.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage.js"></script>
  <script src="js/todos.js"></script>

  <!-- Templates -->
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>
  
  <script type="text/javascript">
    window.TODOS = (function($){
      $.ajaxSetup({cache: false});
      return { 
        checklistName: function(){ return "$!{checklistName}";},
        url: function(){ return "/$!{checklistName}/todos";}
      };
    })($);
  </script>  
</body>
</html>
